@model CatalogModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalog Details</h1>
<br />
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.Id):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.Name):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.Description):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.CreatedDate):
            </span>
        </dt>
        <dd class="col-sm-10">
            @CarStoreDataHelper.GetDateTimeFormat(Model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.CreatedBy):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.ModifiedDate):
            </span>
        </dt>
        <dd class="col-sm-10">
            @CarStoreDataHelper.GetDateTimeFormat(Model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.ModifiedBy):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.IsActive):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Model.IsActive
        </dd>
        <dt class="col-sm-2">
            <span style="float:right">
                @Html.DisplayNameFor(model => model.IsDeleted):
            </span>
        </dt>
        <dd class="col-sm-10">
            @Model.IsDeleted
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Index">Back to List</a>
</div>